header {
    margin-bottom: 62px;
    padding: 32px 0px 8px 0px;
    height: 61px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    gap: 8px;
}

.header__logoName {
    font-size: 16px;
    font-weight: 700;
}

.header__nav {
    display: flex;
    gap: 32px;
}

.header__link {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--gray, #ABB2BF);
}

.header__link:hover {
    color: #fff;
    transition: 0.5s;
}